.profile-content-wrap {
  display: flex;
  align-items: center;
}
.profile-content-wrap .profile-image {
  min-width: 296px;
}
.profile-content-wrap .profile-image > div {
  background: -webkit-linear-gradient(top right, #d300c5 0%, #ffca00 100%);
  width: 150px;
  height: 150px;
  border-radius: 1000px;
  padding: 4px;
  margin: auto;
}
.profile-content-wrap .profile-image > div span {
  background: #fff;
  width: 142px;
  height: 142px;
  border-radius: 1000px;
  display: block;
  padding: 4px;
}
.profile-content-wrap .profile-image > div span img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-content-wrap .profile-details .profile-details-head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile-content-wrap .profile-details .profile-details-head .profile-username {
  display: flex;
  align-items: center;
}
.profile-content-wrap
  .profile-details
  .profile-details-head
  .profile-username
  h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
.profile-content-wrap
  .profile-details
  .profile-details-head
  .profile-username
  .verified-icon {
  margin: 4px 0 0 8px;
}
.profile-content-wrap
  .profile-details
  .profile-details-head
  .follow-message-btn {
  margin-left: 20px;
}
.profile-content-wrap
  .profile-details
  .profile-details-head
  .follow-message-btn
  button {
  background-color: rgb(239, 239, 239);
  padding: 7px 16px;
  border: 0px;
  border-radius: 8px;
  margin-left: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.profile-content-wrap
  .profile-details
  .profile-details-head
  .follow-message-btn
  button:hover {
  background-color: rgba(219, 219, 219);
}
.profile-content-wrap .profile-details .profile-info ul {
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
}
.profile-content-wrap .profile-details .profile-info ul li {
  list-style: none;
  margin-left: 40px;
}
.profile-content-wrap .profile-details .profile-info ul li:first-child {
  margin-left: 0;
}
.profile-content-wrap .profile-details .profile-info ul li button {
  border: 0;
  padding: 0;
  color: rgba(38, 38, 38);
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  transition: 0.2s;
}
.profile-content-wrap .profile-details .profile-info ul li button:hover {
  opacity: 0.5;
}
.profile-content-wrap .profile-bio p {
  line-height: 18px;
  font-size: 14px;
  margin: 0;
  max-width: 178px;
}
.profile-content-wrap .profile-bio p:first-child {
  margin-bottom: 12px;
}
.profile-content-wrap .profile-bio p.user-profession {
  color: #737373;
}
.profile-content-wrap .profile-user-url {
    display: flex;
    align-items: center;
}
.profile-content-wrap .profile-user-url a {
    margin-left: 7px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    display: block;
    max-width: 100%;
    overflow-y: hidden;
    word-wrap: break-word;
    font-weight: 600;
    color: rgb(0, 55, 107);
    text-decoration: none;
    font-size: 14px;
}
.profile-content-wrap .profile-user-url a:hover {
    text-decoration: underline;
}
.profile-mobile-view {
    display: none;
}
@media (max-width: 992px) {
    .profile-content-wrap .profile-image {
        min-width: 200px;
    }
}
@media (max-width: 735px) {
    .profile-page-container {
        padding: 16px 0;
    }
    .profile-mobile-view {
        display: block;
    }
    .profile-content-wrap {
        margin-bottom: 16px;
        padding: 0 12px;
    }
    .profile-content-wrap .profile-image {
        min-width: 110px;
    }
    .profile-content-wrap .profile-image > div {
        width: 80px;
        height: 80px;
        padding: 3px;
        margin: 0;
    }
    .profile-content-wrap .profile-image > div span {
        width: 74px;
        height: 74px;
        padding: 3px;
    }
    .profile-content-wrap .profile-details .profile-details-head {
        flex-flow: column;
        align-items: flex-start;
    }
    .profile-content-wrap .profile-details .profile-details-head .follow-message-btn {
        margin-left: 0;
    }
    .profile-content-wrap .profile-details .profile-details-head .follow-message-btn button {
        margin-right: 8px;
        margin-left: 0;
    }
    .profile-content-wrap .profile-details .profile-details-head .profile-username {
        margin-bottom: 12px;
    }
    .profile-content-wrap .profile-details .profile-info,
    .profile-content-wrap .profile-details .profile-bio,
    .profile-content-wrap .profile-details .profile-user-url {
        display: none;
    }
    .profile-mobile-view .profile-content-wrap {
        margin-bottom: 0;
        padding: 0;
    }
    .profile-mobile-view .profile-content-wrap .profile-details {
        width: 100%;
    }
    .profile-mobile-view .profile-content-wrap .profile-details .profile-info {
        display: block;
    }
    .profile-mobile-view .profile-content-wrap .profile-details .profile-bio {
        padding: 0 12px;
        display: block;
    }
    .profile-mobile-view .profile-content-wrap .profile-details .profile-user-url {
        display: flex;
        padding: 0 12px;
    }
    .profile-mobile-view .profile-content-wrap .profile-details ul {
        justify-content: space-around;
        margin-bottom: 0;
        border-top: 1px solid rgb(219, 219, 219);
        margin-top: 24px;
    }
    .profile-mobile-view .profile-content-wrap .profile-details ul li {
        margin-left: 0;
    }
    .profile-mobile-view .profile-content-wrap .profile-details ul li button {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 12px 0;
    }
    .profile-mobile-view .profile-content-wrap .profile-details ul li button span:last-child {
        font-weight: 400;
        color: #737373;
    }
}