.posts-tab-wrapper {
    margin-top: 50px;
}
.posts-tab-menu {
    border-top: 1px solid rgb(219, 219, 219);
}
.posts-tab-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.posts-tab-menu ul li {
    list-style: none;
    margin-left: 60px;
}
.posts-tab-menu ul li:first-child {
    margin-left: 0;
}
.posts-tab-menu ul li button {
    background-color: transparent;
    border: 0;
    padding: 18px 0;
    outline: none;
    cursor: pointer;
}
.posts-tab-menu ul li.active button {
    border-top: 1px solid #000;
}
.posts-tab-menu ul li button .s-icon svg{
    color: #737373;
}
.posts-tab-menu ul li button .s-text {
    margin-left: 6px;
    color: #737373;
    text-transform: uppercase;
}
.posts-tab-menu ul li.active button .s-text {
    color: #000;
}
.posts-tab-menu ul li.active button .s-icon svg {
    color: #000;
}
.posts-tab-wrapper .all-posts .all-posts-list {
    gap: 28px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.posts-tab-wrapper .all-posts .all-posts-list > li {
    width: calc(33.34% - 19px);
    list-style: none;
    position: relative;
    cursor: pointer;
}
.posts-tab-wrapper .all-posts .all-posts-list > li:hover .like-comment-wrap {
    opacity: 1;
}
.posts-tab-wrapper .all-posts .all-posts-list > li .post-image {
    position: relative;
}
.posts-tab-wrapper .all-posts .all-posts-list > li .post-image .post-type {
    position: absolute;
    right: 12px;
    top: 12px;
}
.posts-tab-wrapper .all-posts .all-posts-list > li .post-image img {
    width: 100%;
    height: 305px;
    object-fit: cover;
}
.posts-tab-wrapper .all-posts .all-posts-list > li .like-comment-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 3px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.4s;
}
.posts-tab-wrapper .all-posts .all-posts-list > li .like-comment-wrap .like-comment-list {
    display: flex;
    padding: 0;
    margin: 0;
}
.posts-tab-wrapper .all-posts .all-posts-list > li .like-comment-wrap .like-comment-list > li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin-left: 24px;
}
.posts-tab-wrapper .all-posts .all-posts-list > li .like-comment-wrap .like-comment-list > li:first-child {
    margin-left: 0px;
}
.posts-tab-wrapper .all-posts .all-posts-list > li .like-comment-wrap .like-comment-list > li span svg{
    width: 19px;
    height: 19px;
}
.posts-tab-wrapper .all-posts .all-posts-list > li .like-comment-wrap .like-comment-list > li p {
    margin: 0;
    color: #fff;
    margin-left: 8px;
    font-weight: 700;
    line-height: 16px;
}
.coming-soon p {
    text-align: center;
    font-weight: 500;
}
@media (max-width: 737px) {
    .posts-tab-wrapper {
        margin-top: 0;
    }
    .posts-tab-menu ul {
        justify-content: space-around;
    }
    .posts-tab-menu ul li.active button {
        border-top: 0;
    }
    .posts-tab-menu ul li button .s-text {
        display: none;
    }
    .posts-tab-menu ul li button .s-icon svg {
        width: 24px;
        height: 24px;
    }
    .posts-tab-menu ul li.active button .s-icon svg path:last-child {
        fill: #0095f6;
    }
    .posts-tab-menu ul li.active button .s-icon svg {
        color: #0095f6;
    }
    .posts-tab-wrapper .all-posts .all-posts-list {
        gap: 3px;
    }
    .posts-tab-wrapper .all-posts .all-posts-list > li {
        width: calc(33.34% - 4.5px);
    }
    .posts-tab-wrapper .all-posts .all-posts-list > li .post-image img {
        height: 240px;
    }
    .posts-tab-menu ul li {
        margin-left: 0;
    }
    .posts-tab-wrapper .all-posts .all-posts-list > li .like-comment-wrap {
        display: none;
    }
}
@media (max-width: 575px) {
    .posts-tab-wrapper .all-posts .all-posts-list > li .post-image img {
        height: 188px;
    }
}
@media (max-width: 425px) {
    .posts-tab-wrapper .all-posts .all-posts-list > li .post-image img {
        height: 137px;
    }
}
@media (max-width: 375px) {
    .posts-tab-wrapper .all-posts .all-posts-list > li .post-image img {
        height: 120px;
    }
}
@media (max-width: 320px) {
    .posts-tab-wrapper .all-posts .all-posts-list > li .post-image img {
        height: 102px;
    }
}